/.nyc_output
/coverage
/cypress/screenshots
/node_modules
/dist
/dist-ssr
/*.local
/cypress/fixures/cypress.env.json
/tsconfig.tsbuildinfo
/src/routes.tsx
/src/pages/contributing/contributors/code-contributors.json
/public/sitemap.xml
/src/locales
/public/assets/profile-*.jpg
/public/assets/profile-*.webp
/public/assets/profile-*.avif
/public/assets/contributors/*.webp
/public/assets/contributors/*.avif
/public/assets/*-*.min.css
/dump.txt
/.env

# Editor directories and files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
nbproject
.idea
.vscode
