RewriteEngine on
RewriteCond %{REQUEST_URI} !^/$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* /index.html [L]

FileETag Size Digest

ExpiresActive On
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType text/javascript "access plus 1 year"
ExpiresByType image/svg+xml "access plus 1 year"
ExpiresByType text/css "access plus 1 year"
ExpiresDefault "access"

FilterDeclare COMPRESS
FilterProvider COMPRESS DEFLATE "%{Content_Type} -strmatch 'text/*'"
FilterProvider COMPRESS DEFLATE "%{Content_Type} -strmatch 'img/svg+xml*'"
FilterProvider COMPRESS DEFLATE "%{Content_Type} -strmatch 'application/json*'"
FilterChain COMPRESS
FilterProtocol COMPRESS DEFLATE change=yes;byteranges=no

# Security Headers
Header set X-XSS-Protection "1; mode=block"
Header set X-Frame-Options "SAMEORIGIN"
Header set Referrer-Policy "same-origin"
Header set Content-Security-Policy "default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' https://tracking.bjoern-buettner.me; connect-src 'self' https://tracking.bjoern-buettner.me; frame-scr 'self' https://youtube-nocookie.com"
